{% extends "base.html" %}
{% block content %}
  <div class="home">
    <h1>
      <p>Welcome to the <u>Meme Quiz</u>!</p><br>
    </h1>
    <h2>Test your knowledge of memes and internet culture.</h2>
  </div>
  <div class="about">
    <p>
      Memes are multimedia items of text, images, audio, video, etc. which are shared and distributed, with occasional modification.
    </p>
    <p>
      This is a 'revolutionary' online quiz to test your knowledge about memes 
    </p>
  </div>
{% endblock %}
